*{
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: font1;
    src: url(../src/font1.ttf);
}
#page-wrapper{
    font-family: font1, sans-serif;
    text-align: center;
    background-image: url("../src/30 Sets of Free High Quality Lined Paper Texture | Naldz Graphics.jpg");
 }

header{
    margin-bottom: 2vh;
    background-color:#FCB72B;
    box-shadow: 0 0 20px;
}
nav{
    margin-bottom: 2vh;
}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav li{
    display: inline;
    margin: 1vh 7vw;
    font-size: 2.5em;
}

.anchor-div {
    display: flex;
    flex-direction: column;
}

.anchor-div p {
    color: darkblue;
    font-size: calc(4px + 0.8vw);
}

a {
    text-decoration: none;
}

#remainingMoney {
    position: absolute;
    left: 2vw;
    border: solid black 3px;
    width: 17%;
    font-size: calc(8px + 2.5vw);
    color: darkgreen;
}

#cartIcon {
    position: absolute;
    right: 2vw;
}

.fa-solid, .fa-brands {
    font-size: calc(20px + 2.5vw);
}

.nav-icon {
    color: darkblue;
}
main {
    min-height: 100vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: row;
}
#checkout{
    height: max-content;
    width: 30%;
    margin: 1em;
    padding: 1em 0;
    box-shadow: 0 0 20px;
}
#calculations{
    text-align: right;
    padding-right: 2vw;
}
#items{
    height: 100%;
    margin: 1em;
    width: 70%;
    padding-top: 1em;
    box-shadow: 0 0 20px;
}
.placeholder {
    display: none;
    border: 2px solid black;
    padding: 2vh 2vw;
    margin: 4vh 20vw;
    width: 40%;

}
.product-img {
    width: 100%;
    height: auto;
}

.add_cart {
    font-family: font1, sans-serif;
}

.num{
    width: 5vw;
}
#checkout-button {
   display: block;
    text-align: center;
    margin: 0.5em 1vw;

}
button {
    transition-duration: 0.4s;
    border: 2px solid black;
    border-radius: 8px;
    font-size: calc(3px + 1.5vw);
}

input {
    font-size: calc(3px + 1.5vw);
}

button:hover {
    background-color: #FCB72B; /* Green */
    color: black;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}
footer{
    background-color: #FCB72B;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}