*{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}
@font-face {
    font-family: font1;
    src: url(../src/font1.ttf);
}
#page-wrapper{
    text-align: center;
    background-image: url("../src/30 Sets of Free High Quality Lined Paper Texture | Naldz Graphics.jpg");
}
header{
    margin-bottom: 2vh;
    background-color:#FCB72B;
    font-family: font1, sans-serif;
}
h2{
    font-size: 250%;
    padding-left: 30%;
}
nav{
    margin-bottom: 2vh;
}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav li{
    display: inline;
    margin: 1vh 7vw;
    font-size: 2.5em;
}

.anchor-div {
    display: flex;
    flex-direction: column;
}

.anchor-div p {
    color: darkblue;
    font-size: calc(4px + 0.8vw);
}

a {
    text-decoration: none;
}

#cartIcon {
    position: absolute;
    right: 2vw;
}

.fa-solid, .fa-brands {
    font-size: calc(20px + 2.5vw);}
.nav-icon {
    color: darkblue;
}
main ul{
    padding-top: 10%;
    margin: auto;
    list-style: none;
}
main li {
    font-size: 150%;
    padding: 4vh;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}
img{
    box-shadow: 0 0 20px;
    height: auto;
    max-width: 40%;
}
main {
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-left: -30%;
}
main p{
    text-align: left;
    line-height: 2;
    font-size: 120%;
    font-weight: normal;
}
.indent{
    padding-left: 10%;
    width: 100%;
    font-size: 90%;
}
footer{
    background-color: #FCB72B;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2vh 0;
    font-family: font1, sans-serif;
}

