*{
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: font1;
    src: url(../src/font1.ttf);
}
#page-wrapper{
    font-family: font1, sans-serif;
    text-align: center;
    background-image: url("../src/30 Sets of Free High Quality Lined Paper Texture | Naldz Graphics.jpg");
}


.fa-solid, .fa-brands {
    font-size: calc(20px + 2.5vw);
    color: darkblue;
}

header{
    margin-bottom: 2vh;
    background-color:#FCB72B;
}
nav{
    margin-bottom: 2vh;
}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

nav li{
    display: inline;
    margin: 1vh 7vw;
    font-size: 2.5em;
}

.anchor-div {
    display: flex;
    flex-direction: column;
}

.anchor-div p {
    color: darkblue;
    font-size: calc(4px + 0.8vw);
}

a {
    text-decoration: none;
}
.character-desc {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    text-align: left;
}

.image-container {
    width: 20%;
    margin: 5% 2.5%;

}

.text-container {
    width: 75%;
    font-size: calc(5px + 2vw);
    margin: 0 2.5%;
}

img {
    max-width: 100%;
}

.image-container{
    box-shadow: 0 0 20px;
}
.character-desc{
    box-shadow: 0 0 20px;
}

p{
    font-weight: bolder;
}

footer{
    background-color: #FCB72B;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2vh 0;
}

