*{
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: font1;
    src: url(../src/font1.ttf);
}
#page-wrapper{
    font-family: font1, sans-serif;
    text-align: center;
    background-image: url("../src/30 Sets of Free High Quality Lined Paper Texture | Naldz Graphics.jpg");
}


.fa-solid, .fa-brands {
    font-size: calc(20px + 2.5vw);
    color: darkblue;
}

header{
    margin-bottom: 2vh;
    background-color:#FCB72B;
}
nav{
    margin-bottom: 2vh;
}
nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav li{
    display: inline;
    margin: 1vh 7vw;
    font-size: 2.5em;
}

.anchor-div {
    display: flex;
    flex-direction: column;
}

.anchor-div p {
    color: darkblue;
    font-size: calc(4px + 0.8vw);
}

a {
    text-decoration: none;
}

#remainingMoney {
    position: absolute;
    left: 2vw;
    border: solid black 3px;
    width: 17%;
    font-size: calc(8px + 2.5vw);
    color: darkgreen;
}

#bug-area {
    width: 100%;
    min-height: 85vh;
    height: 85vh;
    text-align: left;
}

#bug {
    position: relative;
    font-size: calc(20px + 10vw);
    color: blueviolet;
}

footer{
    background-color: #FCB72B;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2vh 0;
}

